[2019-01-20 09:07] Ullaakut opened #1 "Add idiomatic filtering"
Add `WithFilterHost`, `WithFilterPort`, `WithFilterService` etc. methods to be used like so:

[code]

[2019-01-20 09:08] Ullaakut opened #2 "Write complex examples of concrete use-cases"
- [x] Basic network discovery example
- [x] Spoof & decoy
- [x] Filters example (blocked by #1)
- [x] OS detection example
- [x] Service detection example
- [ ] Proxy example
- [x] Count hosts on network by OS

## Real app example

- [x] Update [cameradar](https://github.com/Ullaakut/cameradar) to use this library and showcase it as an example of use

[2019-01-20 09:28] Ullaakut opened #3 "Add enum for OS families"
This might be more complicated than it sounds, as I'm not sure where to get a complete list of the OS families supported by `nmap`, but once it's done it would make it possible to replace this code:

[code]

with a cleaner (and more idiomatic) `switch` statement like such:

[code]

[2019-01-20 09:57] #3 closed, assigned to Ullaakut

[2019-01-20 10:38] Ullaakut commented on #1
Done in c0b32b6

[2019-01-20 10:38] #1 closed

[2019-01-20 10:39] Ullaakut opened #4 "Unit tests"
95% coverage reached.

Left to test:

### nmap.Run()

- [x] Case where `nmap` is not installed. Can be done by manipulating the `$PATH` during this test case.
- [x] Case where process can not be killed. Not sure how to test this without mocking `os.Exec`, and I'm not going to do that. Might just remove the error check for the `cmd.Process.Kill()` call since I think it's useless anyway.
- [x] Case

[2019-01-20 10:40] Ullaakut opened #5 "Add TravisCI"
- [ ] Run golangci-lint
- [ ] Build
- [ ] Run testsuite
- [ ] Run coveralls

[2019-01-20 10:45] Ullaakut opened #6 "Add RunAsync() method"
Allowing the users to run `nmap` asnchronously makes it possible to parse the live `nmap` output, for example for building a UI on top, or computing a progress bar.

I'm not sure if many people have this use-case though, so I won't prioritize this for now, but I find it really cool.

- [ ] Add a RunAsync() method with the following signature `func (s *Scanner) RunAsync() (stdout chan <-[]byte, std

[2019-01-20 15:50] Ullaakut opened #7 "Parsing errors"
My work in progress on the unit tests led me to discover a few issues with the current XML parsing:

- [x] Missing `nmap.Run.Host.EndTime` and `nmap.Run.Host.StartTime` values are parsed as `-62135596800`
- [x] `nmap.Run.Host.OS.OSClass` entries are missing

[2019-01-20 19:36] Ullaakut commented on #7
Solved

[2019-01-20 19:36] #7 closed

[2019-01-23 20:20] Ullaakut commented on #4
!00% test coverage reached in 53345d7a3dc5477e613c8176466516f3bba73c3f

[2019-01-23 20:20] #4 closed

[2019-01-23 20:59] Ullaakut commented on #2
Used by [Cameradar](https://github.com/Ullaakut/cameradar) and REAMDE updated.

[2019-01-23 20:59] #2 closed

[2019-02-22 09:15] noneymous opened #8 "Parsing Nmap output misses "osclass" data"
Hi there!

First of all: awesome library, thank you very much!

It appears to me that parsing Nmap output does not read the osclass data correctly. I've seen there is a solved issue regarding the same thing ( #https://github.com/Ullaakut/nmap/issues/7). However I still have the problem, even though I'm running on your latest version.

"osmatch" data is read correctly. "osclass" data is always empt

[2019-02-22 09:59] noneymous commented on #8
Using Nmap 7.7

[2019-02-23 11:01] noneymous opened #9 "Parsing Nmap output fails to load lots of table elements ("tables" in xml.go) due to different ways Nmap outputs them"
I've just figured that the data structure derived from the Nmap output does miss on a lot of tables/elements. It seems, sometimes the elements in the Nmap output are not wrapped by a "table" element but directly listed having their own keys directly.

A picture is worth a thousand words:

![screenshot_1550919036](https://user-images.githubusercontent.com/31357019/53285596-9ce3ac80-3762-11e9-9314-7

[2019-05-27 11:31] Ullaakut opened #14 "Fix CI"

[2019-06-04 11:57] Ullaakut commented on #8
Damn, just saw this today, awfully sorry about that. I'll take a look into it this evening, thanks :)

[2019-06-05 19:37] Ullaakut commented on #8
I think the recently merged PRs fixed this :) Let me know if you still have issues!

[2019-06-05 19:37] #8 closed

[2019-06-05 19:37] #9 closed

[2019-06-18 15:28] moehlone opened #16 "Unresolvable hosts prevent remaining results"
Hi@

when a scan finishes before timeout you firstly check if something went to stderr.

Lets assume the following:

`nmap -p 80,443 asdasasdasdasasdaasdassad.com google.de`

First host goes to stderr with message `Failed to resolve "asdasasdasdasasdaasdassad.com".` and the second one finishes just fine.

The early error exit (currently https://github.com/Ullaakut/nmap/blob/master/nmap.go#L87)
fro

[2019-06-18 20:57] Ullaakut commented on #16
Hi @moehlone, thanks for opening this issue.

I see your point and I agree it could make sense in some cases to still want to see results while an error happened during the scan, especially in a multi-target configuration; but at the same time returning both positive and negative results simultaneously seems very counter-intuitive to me, from a user's perspective.

Do you have suggestions on how y

[2019-06-21 11:34] botastic opened #17 "Goroutine never finishes if process is killed"
Hey there,

I stumbled upon a probable memory leak in the `Run` function. If the Command is killed, because the timeout is reached, the goroutine waiting for cmd.Wait() to return will never finish.
This is because the done channel is not buffered and the error is never retrieved in the select statement.

Here's an [example](https://play.golang.org/p/POcAXmdERsC) I put together. I also found this r

[2019-06-21 17:08] Ullaakut commented on #17
Thanks @botastic ! Will fix that :)

[2019-06-23 04:03] #17 closed

[2019-07-25 07:06] Ullaakut commented on #14
Done

[2019-07-25 07:06] #14 closed

[2019-08-13 00:46] TheSecEng commented on #16
Why not just use the same logic you are using for rawXML ? This would give it the ability to store the errors, print errors first or after then success results.

Probably could be implemented better but its a solution.

[code]

Example usage

[code]

[2019-08-13 11:56] Ullaakut commented on #16
Sounds like something doable indeed! I'll look into that, thanks for the suggestion @TheSecEng

[2019-08-13 12:10] TheSecEng commented on #6
Have you had time to look at this more ? If not, I’ll start looking into how to add this properly. It’s be nice to have.

[2019-08-13 12:11] Ullaakut commented on #6
Hey @TheSecEng I didn't have time as of now, I've been working on other projects, but if you're interested in picking this one up I'd love to give you any help you need :)

[2019-08-14 01:44] TheSecEng commented on #6
@Ullaakut you got it!

[2019-08-26 19:12] Ullaakut opened #22 "Update gitignore"
Add .idea to the gitignore

[2019-08-26 19:19] Ullaakut opened #23 "Fix typo in comments"
`fullfil` -> `fulfill`
`diables` -> `disables`
`repsonses` -> `responses`

Etc.

[2019-08-27 00:32] #16 closed

[2019-08-27 02:28] #22 closed

[2019-08-27 02:28] #23 closed

[2019-09-03 06:13] Ullaakut commented on #6
Hey @TheSecEng!

Sorry about the delay. This looks like a good implementation! Thank you so much!

It seems like a good first step to provide utility to people who might want to use it, but I'm curious how people will end up integrating it into their apps.

Either way, I'd love to see it in the form of a PR and to work on it together!

[2019-09-04 14:48] ReK2Fernandez opened #27 "Can't see to get the output of default script."
Hello.
[code]
I can get all methods from port.* etc but cant see to get the output of the Script.
example:
[code]
trying to get the script.Output from the scripts slice.
Im sure im doing something wrong.

[2019-09-04 15:07] TheSecEng commented on #27
@ReK2Fernandez thanks for reaching out.

I am not running into this issue with the latest code. Can you run my below example which is a modified basic_scan.go copy from the examples folder.

`go
import (
	"context"
	"fmt"
	"log"
	"strings"
	"time"

	"github.com/Ullaakut/nmap"
)

func main() {
	ctx, cancel := context.WithTimeout(context.Background(), 5*time.Minute)
	defer cancel()

	scanner, err :=

[2019-09-04 15:08] Ullaakut commented on #27
Not classifying this as a bug for now, but I'll keep track of the issue and update the labels accordingly :)

[2019-09-04 15:54] ReK2Fernandez commented on #27
@Ullaakut on my test and yours works if I indicate which script like:
[code]
but not with the default flag.
maybe there is just nothing to output..

[2019-09-04 16:26] TheSecEng commented on #27
That is interesting, as http-methods is a default scan and should return results if `nmap.WithScripts("http-methods"),`

Let me look into this.

[2019-09-04 16:48] TheSecEng commented on #27
@ReK2Fernandez this appears to be an nmap concern. See below.

NMAP pulls default scripts from the scripts.db file located in the folder where all nse files reside. Here is a sample from that file that shows http-methods is include as a default script to run when default scripts are called.

[code]

However when running the two commands from nmap directly, they produce two different results.

**Co

[2019-09-04 17:01] TheSecEng commented on #27
Issued opened at https://github.com/nmap/nmap/issues/1724 for clarification on if this is intended or not.

[2019-09-04 23:22] TheSecEng commented on #6
I've actually got a use case right now that I will be using this for once its finished. So there is definitely reasons to get this running.

[2019-09-05 12:57] ReK2Fernandez commented on #27
@TheSecEng @Ullaakut hello sorry was out and i'm on CEST time zone, I have confirmed on my own most of the things you guys are rasing up here, actually was going to update with some of them but since you guys already figure them out, I will not double post. Thanks for looking into this, will try with the timing template.

[2019-09-05 21:53] TheSecEng commented on #27
No worries!

@Ullaakut this can be closed now. As this is just timing issues and not related to the Nmap library

[2019-09-06 04:18] #6 closed

[2019-09-06 04:19] Ullaakut commented on #27
Thanks for your help @TheSecEng ! 🎉

And @ReK2Fernandez don't hesitate to let us know if you find any other issue :) thanks for using the package!

[2019-09-06 04:19] #27 closed

[2019-09-08 10:49] Ullaakut opened #29 "Add unit tests for RunAsync"

[2019-09-10 12:57] TheSecEng opened #30 "Add Verbosity and Debugging Options"
* **I'm submitting a ...**
  - [x] feature request
  - [ ] bug report
  - [ ] support request

* **What is the current behavior?**
The library does not provide support for adding in verbosity and debugging levels.

* **What is the expected behavior?**
Allow `WithVerbosity` and `WithDebugging` options to be called to increase Nmap verbosity and debugging.

Level 10 Verbosity `-vvvvv -ddddd`
Level 8

[2019-09-10 13:00] TheSecEng opened #31 "Review Async implementation vs Channels Implementation."
Review current `Bufio` Async implementation vs Async channel implementation.

The below is fully working AsyncRun with Channels
[code]

[2019-09-10 13:09] TerminalFi opened #32 "Add Progress function to easily stream progress updates from AsyncRun method"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* **What is the current behavior?**
AsyncRun returns bufio reader, allowing users to manipulate the data to have it perform in several different manners. However some users might only want to use AsyncRun for being able to stream progress. It would be nice to have a `Progress` function that would allow s

[2019-10-05 03:56] #29 closed

[2019-10-06 11:49] #30 closed

[2019-11-14 13:54] noneymous commented on #16
Awesome, I discovered the same bug and developed a patch, just to find out that you guys already had it fixed in a newer version ;-)

Anyways, I wanted to add something to this issue. **The issue is/was not limited to errors. Nmap also writes warnings to stderr**. Where else should it, stdout is reserved for valid xml data.

In our case this lead to the situation that the majority of our network s

[2019-11-14 14:09] noneymous commented on #16
Furthermore, I just noted that we have three positions where errors might be stored:

- returned by Run()
- results.NmapErrors
- result.Stats.Finished.ErrorMsg

🤔

[2019-11-14 14:17] Ullaakut commented on #16
@noneymous Thanks for your message! This is definitely an issue you're right 🤔 We should probably have some logic to abstract nmap's error handling and basically return an error only in `Run()`, which could contain the error(s) from any source, and exempted of warnings of course.

Could you open a new issue @noneymous with your initial comment, which describes the issue very well?

I'll look into

[2019-11-14 14:22] TheSecEng commented on #16
I agree, I should have time to look at this issue as well this weekend.
Thanks for the detailed report.

On Thu, Nov 14, 2019 at 9:17 AM Brendan Le Glaunec <notifications@github.com>
wrote:

--
Respectfully,
Zachary Schulze

[2019-11-14 15:02] noneymous opened #38 "Error handling difficult and not reliable"
# Issue
It is currently difficult to check whether an Nmap scan failed, due to two reasons:
- Error messages are spread across three locations (returned by Run(), result.NmapErrors and result.Stats.Finished.ErrorMsg)
- Error messages might actually be warnings. Nmap can only write warnings to stderr where we undestand them as errors

Examples generated by Run():
- "unable to parse nmap output"
- E

[2019-11-14 15:03] noneymous commented on #38
Sample code to split errors/warnings from stderr:
[code]

[2019-11-14 15:06] noneymous commented on #38
It MIGHT be that Nmap we discover some warnings which we cannot clearly identify as warnings. I think the suggested solution still is the best one, because it also gives a lot of flexibility. People can decide to ignore certain errors or even all of them. If the XML parses, they can use it. Furthermore, I think we need to take it step by step and improve the solution incrementally.

[2019-11-14 15:10] noneymous commented on #16
I took quite some time to properly prepare this issue. There it is: https://github.com/Ullaakut/nmap/issues/38

I'm busy right now, but if no one is faster, I'm probably able to deliver something within a very few weeks.

[2019-11-14 15:12] noneymous commented on #38
Here the python nmap package for reference. Although, I think this is not the best code.
https://bitbucket.org/xael/python-nmap/src/default/nmap/nmap.py

[2019-11-18 13:04] noneymous commented on #38
After looking more into it, I'm slowly coming to the conclusion that anything on **stderr** should be undestood as a **warning** and everyboody should check these "warnings" for things they care about. **If something is critical**, Nmap returns valid XML but with the attribute `status="error"` and an error message in `result.Stats.Finished.ErrorMsg`.

E.g. Nmap may write "Error resolving name" to

[2019-11-23 23:40] #38 closed

[2019-12-18 12:33] mydockergit opened #42 "How to scan subnet 192.168.0.0/24"
How can I use this library to scan for all the live hosts on the network 182.168.0.0/24 ?

[2019-12-18 12:34] mydockergit commented on #42
Found:
[code]

[2019-12-18 12:34] #42 closed

[2019-12-19 20:14] Ullaakut commented on #42
Yes, sorry about the delay but you're right :) Was the documentation not clear? If there are pain points you found while using this library, feel free to let me know!

[2020-02-28 03:36] LRBING0 opened #43 "excuse me, what about "nmap binary was not found" ,but I download project"

[2020-02-28 08:14] Ullaakut commented on #43
This package provides `nmap` bindings, but you still need to have nmap installed to be able to use it in Go.

Here are the download links: https://nmap.org/download.html

[2020-02-28 08:27] LRBING0 commented on #43
Thank you

[2020-02-28 09:41] noneymous opened #44 "Added error type and enhanced the error checking"
Hi,

I further improved our error handling by
- adding a new kind of error I ran into
- checking for certain known errors in stderr (our slice of warnings) before trying to parse the XML output

Previously, our first check was whether we can parse the Nmap XML output. That XML is inevitably broken if Nmap terminated with an error. We always returned 'ErrParseOutput' and the details of the error co

[2020-03-02 08:12] Ullaakut commented on #44
Fixed by #45

[2020-03-02 08:12] #44 closed

[2020-03-02 08:12] #43 closed

[2020-04-24 06:41] hazcod opened #46 "Detect ICMP response"
Hi, is there a way of using the library to detect whether a host responds to ICMP?
At the moment I have something along the lines of:
[code]

But not sure if ServiceInfo and OSDetection do anything at the ICMP scanning phase.

[2020-04-24 08:12] hazcod opened #47 "OS detection: no matches returned"
Hi, using following Options:
[code]

However this returns no OS matches for an AWS CloudFront server, while a simple invocation of `nmap -O <ip>` does. Any ideas why?

[2020-04-24 08:55] #47 closed

[2020-04-24 09:45] Ullaakut commented on #47
Hi @hazcod! No need to edit out your own question, there's no shame in that, and some other people might get the same problem :) What was the reason for that issue in the end if I may ask?

[2020-04-24 09:53] Ullaakut commented on #46
Hi @hazcod!

Can you give some more details on what exactly you expect and what doesn't work as-is? The example code you wrote doesn't work for you?

Thanks :)

[2020-04-24 09:59] hazcod commented on #46
Hi @Ullaakut , I would want to know if a host responds to ICMP at all.
I'm not sure what results to interpret if it doesn't. Will it return no Hosts? No Ports?

[2020-04-24 10:00] hazcod commented on #47
Hi @Ullaakut , it's more to not confuse others. :-)
I'm scanning from a docker container with root/added capabilities but the OS detection of Amazon Cloudfront servers seems to be a hit & miss.. works fine when I run nmap baremetal.

[2020-04-24 10:01] Ullaakut commented on #46
I'm currently working so I can't check it right away, but if you want I'll give it a try this evening and let you know :) Also to see it by using the `nmap` command line, you can simply run `nmap` with `-X` to export it to XML, and the data that you will see in the XML output should be accessible from this library.

[2020-04-24 10:02] Ullaakut commented on #47
I see, thanks :)

[2020-04-27 06:53] Ullaakut commented on #46
Here is what you'd get from a run of `nmap -sn -PE <ip>` with this library (it would be marshalled into a go struct though)

[code]

So yes, I can confirm that with this method you can validate whether a host responds to the ping. However, remember that you need to be root to use ICMP mode, otherwise it will revert to TCP.

[2020-04-27 07:22] #46 closed

[2020-04-27 08:36] hazcod opened #48 "Feature: vuln script output"
Hi, would it be possible to use the output of the nmap scripts `vuln` using this library?
I don't see it appearing in the XML output.

[2020-04-27 14:58] Ullaakut commented on #48
Hi again @hazcod ! :)

It should be in the report, under `Host.Port.Scripts` I guess, and should look like [this](https://github.com/Ullaakut/nmap/blob/master/xml.go#L246).

If that doesn't work for you, please show me the XML output that you get and I'll take a look :)

[2020-04-27 15:19] hazcod commented on #48
Missed that one, thanks @Ullaakut !

[2020-04-27 15:19] #48 closed

[2020-08-20 14:25] mdfaisal023 opened #49 "Nmap"

[2020-08-25 07:35] Ullaakut commented on #49
Hi, your question is missing from the issue. What did you want to report?

Thank you

[2020-09-18 02:45] 357711589 opened #50 "what’s wrong?"
![image](https://user-images.githubusercontent.com/34570968/93549476-f8583980-f99b-11ea-81e4-d9d585cfb6aa.png)

[2020-09-18 13:14] Ullaakut commented on #50
Hi @357711589, thanks for reporting this issue, I'll look into it when I have some time :) `unable to parse nmap output` should not happen, so it might be due to your version of `nmap`, I need to check on my side if I get the same result when running the same command.

[2020-09-19 02:00] 357711589 commented on #50
nmap version is 7.80
macOS version also the latest version

This error sometimes occurs, sometimes not。
So it makes me very confused

[2020-09-19 11:26] Ullaakut commented on #50
Hi @357711589 !

Using the same `nmap` version you did, on MacOS, I was able to reproduce this issue:

[code]

It seems like it's a bug with `nmap`, where it attempts to make an assertion and aborts the execution because it is not met.

In the meantime, I'm not sure what to do besides to try to tweak the parameters until you find something that does not trigger this bug. Also, don't hesitate to [r

[2020-09-21 04:19] 357711589 commented on #50
OK, thanks a lot.

[2020-09-28 04:45] gakkiyomi opened #53 "how i get mac address?"
im a rookie
i just run ur example ,but i cant get mac address
i cant find any func get mac addr like  nmap -RP
![image](https://user-images.githubusercontent.com/41406557/94391611-809ec180-0188-11eb-9838-78e1831c74a5.png)

[2020-09-28 06:44] #53 closed

[2020-09-28 06:44] gakkiyomi commented on #53
i got it

[2020-09-28 14:35] dmitris opened #54 "add a go.mod file and make a semver-numbered release"
Would you consider adding a `go.mod` file (can be created with: `go mod init github.com/Ullaakut/nmap` and after merging, creating a release (even if v0.x.x-numbered like v0.5.0 or similar)?  It would make it easier to use as dependency.  Thanks.

[2020-10-01 08:15] dmitris commented on #54
@Ullaakut could you also cut publish a new release or add a new git tag?  Since the module name doesn't have `/v2` at the end, it would be great if it could be a `v0.x` or `v1.x` release (or tag), but not sure if it would pass with the existing releases.  Thanks!

[2020-10-01 12:38] Ullaakut commented on #54
Oh, right, forgot that this library was already in v2.0, I'll make another PR to add the v2 to the module, sorry about that.

[2020-10-01 13:06] #54 closed

[2020-10-01 13:07] Ullaakut commented on #50
Closing this here, then

[2020-10-01 13:07] #50 closed

[2020-10-01 13:08] Ullaakut commented on #49
Closing due to inactivity

[2020-10-01 13:08] #49 closed

[2020-10-01 17:01] dmitris opened #57 "please make a new v2.x.x release or add tag"
Currently https://pkg.go.dev/github.com/Ullaakut/nmap?tab=versions shows the package as `v2.0.0+incompatible` with the version from Nov 30, 2019.  Please make a new semver release - it should help to fix this error:
[code]
Thanks.

[2020-10-02 07:04] Ullaakut commented on #57
https://github.com/Ullaakut/nmap/releases/tag/v2.0.1

SGTY?

[2020-10-02 13:24] #57 closed

[2020-10-09 03:32] gakkiyomi opened #59 "Support the `WithInterfaceList` option"
![image](https://user-images.githubusercontent.com/41406557/95540327-1e18b180-0a23-11eb-81f8-4208287111d4.png)
![image](https://user-images.githubusercontent.com/41406557/95540351-2a9d0a00-0a23-11eb-87d1-caf3cbb40ac2.png)

[2020-10-09 09:40] Ullaakut commented on #59
Hi @gakkiyomi ! Thanks, I'll look into this :) It's probably an issue with the XML models not taking something into account there, not sure why though.

[2020-10-09 10:08] gakkiyomi commented on #59
@Ullaakut Unfortunately i use nmap --iflist -oX 192.168.1.222 command also canot get response too !

[2020-10-10 21:08] Ullaakut commented on #59
I think I see the problem. Nmap doesn't seem to support the `-oX` mode along with `--iflist`. Instead of outputting XML, it outputs in a completely different format which cannot be parsed by this library (as of now).

I guess we can then transform this ticket into a feature request for the support of parsing the output of the `--iflist` option, but I won't have time to do it myself now :(

[2020-10-12 03:10] gakkiyomi commented on #59
in my opnion, can use antrl4 parse --iflist output

[2020-10-14 08:08] wenhsinhsieh commented on #53
Could you please share how do you get the mac address?

[2020-10-15 07:17] Ullaakut commented on #53
@wenhsinhsieh see https://nmap.org/book/man-host-discovery.html

[2020-11-10 10:03] elivlo opened #61 "Broken WithResumePreviousScan function"
- **I'm submitting a ...**
  - [x] bug report

___
- **Current behavior:**
When running s scan with `WithResumePreviousScan("testfilename")` function, the nmap scan won't start.
![grafik](https://user-images.githubusercontent.com/28390981/98656846-7227f600-2341-11eb-933a-67ddd9d78a86.png)
![grafik](https://user-images.githubusercontent.com/28390981/98656898-84a22f80-2341-11eb-8847-a90ff7b20b87.png

[2020-11-10 10:55] Ullaakut commented on #61
Nice, I never used that feature so I didn't know. We can indeed add a check in the `Run` methods to not add the XML options if the Resume option is set :)

[2020-11-16 13:54] DeadNumbers opened #62 "Wrong detect if port is open/close"
[code]

Result
[code]

And `nmap` scan
[code]

[2020-11-17 07:16] Ullaakut commented on #62
Hi, the programmatic library call and the shown nmap command are not equivalent. What you are running with the library is `nmap -sV -T4 -p1,3389,3390,9040,9050 127.0.0.1`. The `-Sc`, `-Pn` and `-A` options are missing. Please add `WithAggressiveScan`, `WithDefaultScript` and `WithSkipHostDiscovery` and see if that fixes the issue.

[2020-11-17 07:55] DeadNumbers commented on #62
[code]

Result
[code]
And nmap
[code]

[2020-11-17 07:58] DeadNumbers commented on #62
Also, the same code, but scan `google.com`

[code]

[2020-11-17 08:12] Ullaakut commented on #62
🤔 It does seem like a bug indeed! Thanks for reporting it @DeadNumbers, I'll look into it soon and let you know what I find :)

[2020-11-17 08:20] Ullaakut commented on #62
Mh I am unable to reproduce the issue on my side, scanning `google.com` or my own machine with a mix of ports that are open/closed does not produce any bug on my machine.

Can you tell me more about your setup so that I can try to reproduce it? What version of `nmap` are you using? Can you show me the exact code when you ran it on `google.com`? Was it the same as the example you've shown below?

W

[2020-11-17 08:24] DeadNumbers commented on #62
Code is same, nmap version
[code]

[2020-11-18 23:09] rmccarth opened #63 "Option to Disable Host Resolution"
I would like to be able to pass a raw IP to be scanned, rather than a fqdn. Passing a raw IP currently returns:

[code]

[2020-11-18 23:24] #63 closed

[2020-11-19 15:13] elivlo opened #65 "Broken module version management"
Hi, I recently had many issues with go complaining about checksum mismatches when trying to "go get" this module with version v2 or greater.

I think I found the issue:
Go got the checksum mismatch because v2.0.0 does not contain a go.mod file and then got "incompatible"
https://stackoverflow.com/questions/57355929/what-does-incompatible-in-go-mod-mean-will-it-cause-harm

So I ask you to set the t

[2020-11-20 02:33] SwqslwL commented on #62
same issue

[2020-11-23 07:27] liunnnnn opened #66 "scanner.RunWithProgress can not be found in the project."
Hi, in /examples/basic_scan_progress/main.go, the scanner.RunWithProgress can not be found in the project.

[2020-11-23 08:55] #66 closed

[2020-11-23 15:45] sp3t3rs commented on #65
Confirming the issue, seems that the v2.0.0 tag is set to the same commit as v1.0.0 is which must be wrong:

[code]

[2020-11-23 16:20] Ullaakut commented on #65
Hey! Thanks for reporting this. It's wrong indeed, I'll remove the v2 tag and remake it on the commit `8d64c8e`. Does it sound good to you? If I understand the issue correctly, that should fix the problem.

[2020-11-23 16:37] elivlo commented on #65
Unfortunately a go module must have set the `/v2` path in the go.mod file, so I think commit `2d0165c` should be the right one.
If you do not want to point two tags to the same commit I suggest to set:

- `2d0165c` -> v2.0.0
- `3b6d4c8` -> v2.0.1
- `5b56187` -> v2.0.2

Let's hope that go's sum database will accept these changes. :-)

[2020-11-25 10:43] sp3t3rs commented on #65
Confirming this should work! :+1:

However, in this case there wouldn't be a real change between v2.0.0 and v2.0.1, so you might completely ditch v2.0.2 and set v2.0.1 to commit 5b56187 which is the actual minor change @elivlo introduced (seen from actual code changes), while keeping v2.0.0 with 2d0165c as already suggested. But this is a non-technical proposal seen from a semver and code-changes

[2020-11-26 13:07] Ullaakut commented on #65
Should be good now, can you confirm? :)

[2020-11-26 13:16] elivlo commented on #65
LGTM

[2020-11-26 13:27] elivlo commented on #65
_You accidently set this to the wrong commit:_

[2020-11-26 13:31] Ullaakut commented on #65
Oh right nice catch, my bad! The tag should work now!

[2020-11-26 13:34] elivlo commented on #65
Did you publish?

[2020-11-26 13:57] Ullaakut commented on #65
The tags have been pushed yes, it should be enough for the go module to work, no?

[2020-11-26 14:13] elivlo commented on #65
I cloned it but tag v2.0.2 still has the wrong commit:
[code]

[2020-11-26 14:21] Ullaakut commented on #65
Alright this time should be the one. Turns out I hadn't pulled so I didn't have that commit and did not notice it errored 😅

[2020-12-01 08:02] elivlo commented on #65
No problem. The Issue should be fixed.

[2020-12-01 08:02] #65 closed

[2020-12-09 17:26] elivlo opened #67 "Problem with proxy.golang.org"
Hi,
I'm sorry for asking this!
But while we resolved that issue #65 we got a new problem with go module versions.

- When you clean your cache with `go clean -modcache`
- ... delete the go path
- ... and then run `go get github.com/Ullaakut/nmap/v2`

=> The official Go Proxy does not recognize the changes.
=> You can try this by calling the function `RunWithProgress` in version v2.0.2.

So I'm ask

[2020-12-10 10:49] DeadNumbers commented on #62
Hi! Any ideas?

[2020-12-10 12:53] sp3t3rs commented on #67
I can confirm this issue. Reproduction can be done as following:

First, get the latest V2-Version: `go get -v github.com/Ullaakut/nmap/v2`. Then, in your $GOPATH, search for the nmap.go file and grep for that particular missing method: `cat '/home/speters/.gvm/pkgsets/go1.14/global/pkg/mod/github.com/!ullaakut/nmap/v2@v2.0.2/nmap.go' | grep "RunWithProgress"`. **You'll see that this method is not

[2020-12-12 07:36] Ullaakut commented on #62
I still haven't been able to reproduce this issue, and I have no clue what causes it at this point. It doesn't seem to come from the nmap version, so I'll need more examples of IPs/hosts that cause this issue to be able to reproduce it I think. Either that or you can try to make the nmap library output its report in XML form and this way we can compare the XML output of nmap and that of the librar

[2020-12-18 09:28] Ullaakut commented on #67
I pushed a v2.0.3 version, let me know if that fixes it :)

[2020-12-18 11:48] elivlo commented on #67
Now it is working, contains all current methods and does not throw a checksum mismatch. :smiley:
Thanks!

[2020-12-18 11:48] #67 closed

[2021-01-27 13:01] elivlo commented on #61
Nice! Thank you @ohDaddyPlease

[2021-01-27 13:01] #61 closed

[2021-02-04 21:04] SpikesDivZero opened #70 "Consider adding nmap/v2.Option"
It would be a minor breaking change, but would it be worth adding something like the below type?

[code]

The use case I'm seeing is two-fold:
* Better grouping of options on pkg.go.dev (for example, see `type CallOption` on [grpc's Index](https://pkg.go.dev/google.golang.org/grpc#pkg-index))
* Making it a touch easier for downstream users to maintain a set of base options.

For the latter case, I

[2021-02-06 08:48] Ullaakut commented on #70
Sounds like a good idea, and should not be too difficult to implement :)

[2021-02-10 07:36] Ullaakut commented on #70
Fixed by #71

@SpikesDivZero don't hesitate to let us know if that is satisfactory :)

[2021-02-10 07:36] #70 closed

[2021-02-12 03:59] SpikesDivZero commented on #70
Apologies for the slow reply.

I'd tested this via `go get github.com/Ullaakut/nmap/v2@ac12e8662712` and it looks to work splendidly. It was indeed a breaking change, as was to be expected, but the fix was relatively minor.

[code]

Thanks so much!

[2021-03-02 18:20] JustinTimperio opened #72 "Does this support Windows or Mac?"
Hi all,

I'm a contributor to [ToRat](https://github.com/lu4p/ToRat) and I'm in the process of using this module [to add service and port detection features](https://github.com/lu4p/ToRat/pull/224) to the ToRat client. So far I have been unable to get this module to work when compiling to Windows.

Does this package support Windows?

[2021-03-03 07:24] Ullaakut commented on #72
Hi @JustinTimperio,

Can you show me how you attempted to use the package? Did you specify the `WithBinaryPath` argument? It is not required for UNIX systems (Linux and MacOS) but for Windows, I'm pretty sure it is mandatory, though I never tried running it on Windows.

[2021-03-03 15:47] JustinTimperio commented on #72
Hi @Ullaakut, that was probably the issue. I was cross-compiling with the same arguments expecting it to work natively.

I was able to get [a prototype working for UNIX systems](https://github.com/JustinTimperio/ToRat/tree/feature-nmap) but sadly we need an embedded version of Nmap (IE: dependency-less)

[2021-03-03 15:47] #72 closed

[2021-03-08 20:10] brutalgg opened #73 "No output options"
There does not appear to be a way to also create standard nmap output files while using this library. Is that something that could be considered for a feature or was it conscious omission?

[2021-03-13 15:22] elivlo commented on #73
Hi, as far as I can tell, it was conscious omission when the module was created because it is intended to only handle xml output for later processing. Am I right? @Ullaakut

But as an additional feature we could add another option to also write the standard stdout directly to a given file/path.

[2021-03-15 10:09] #73 closed

[2021-03-23 10:50] mxrch opened #75 "Showing up all hosts up even if they're not"
If we try to scan for example a /24, the nmap package will tell that every host is up, even if they not.
If this can help, I think it's because you fallback on a "up" status if you can't find any "status" tag in the XML, because nmap doesn't put any info about the host in the XML if it is down.

[2021-03-23 10:52] mxrch commented on #75
For example you can take a totally randomly written IP : 192.125.125.0/24

[2021-03-24 13:34] Ullaakut commented on #75
Hi @mxrch ! Thanks for opening this issue :)

Just for clarification, the nmap package does not tell or do much, it just calls the `nmap` binary. Do you encounter a different behavior when running the `nmap` binary with the same parameters? Since the package simply parses the output of the binary to define what to return to its users, I am assuming that for some reason while it might not be visibl

[2021-03-24 14:15] mxrch commented on #75
Hello @Ullaakut, thanks for responding fast.
- Here is what nmap returns to me : https://pastebin.com/wvNHz3Fk
- The XML output of the nmap command : https://pastebin.com/eusJmfqW
- The XML of the nmap package : https://pastebin.com/F34ZBjdg

I have just noticed that this is caused by... launching nmap with sudo.

[code]
sudo nmap 192.125.125.7 -p 80,443
Starting Nmap 7.80 ( https://nmap.org ) at

[2021-03-24 14:44] mxrch commented on #75
My solution would be to first do a ping scan on the hosts with --unprivileged, then do the real scan with -Pn and without --unprivileged

[2021-03-29 08:05] Ullaakut commented on #75
No problem, thanks for the detailed explanations, this might help other people in the future! :)

[2021-03-29 08:05] #75 closed

[2021-04-05 17:53] MaineK00n opened #76 "WithSourcePort argument types"
The range of the port number is 0-65535. Why do you use int16 instead of uint16?

https://github.com/Ullaakut/nmap/blob/4e11e55e1757dd6a06f130a8ea23402eb9d6e377/nmap.go#L1317

[2021-04-05 18:45] MaineK00n commented on #76
I thought `-g 65535` was more intuitive than `-g -1`.

[2021-04-06 06:09] #76 closed

[2021-04-06 08:50] blshkv opened #78 "github.com/Ullaakut/nmap/v2/pkg/osfamilies: not found"
I'm creating a custom build script for Pentoo using standard Gentoo ebuild and golang-vcs-snapshot eclass.

Currently, Cameradar fails to build due to the following error:
[code]

There are few references which seems broken:
https://github.com/Ullaakut/nmap/blob/master/xml.go#L11
https://github.com/Ullaakut/nmap/blob/master/go.mod#L1

can you create both directories (v2/pkg/osfamilies) or remove v

[2021-04-06 09:21] blshkv commented on #78
Also, there are different calls. The release tar.gz file has "github.com/ullaakut/cameradar" structure (low case),
however the package called "github.com/Ullaakut/cameradar"

[2021-04-06 09:40] Ullaakut commented on #78
Hi @blshkv !

I'm not sure what the issue is that you are pointing out by linking the go module and the import of the osfamilies package from `xml.go`? It is normal that there isn't a specific go module for the `osfamilies` package. It is a package that is part of the `github.com/Ullaakut/nmap/v2`, as expected.

I don't really understand why your compilation fails. On my end, running `go get githu

[2021-04-06 09:49] blshkv commented on #78
I'm using dev-lang/go-1.16.2, modules are enabled and manually downloaded .tar.gz. It works for any other tools just fine.
It also works fine if I create these symlinks.

Sorry, I'm not a "go" expert. I'm just trying to follow the existing Gentoo API (eclass). But I find these v2 and v5 are very confusing and not consistent with the rest of the packages.

[2021-04-07 01:40] Ullaakut commented on #78
Ah, so the way those versions work in modern Go (>1.13) is that there are now modules, which can be versioned, and contain one or more packages. Unfortunately, while this makes version control of multiple dependencies very neat for Go developers, it also means you can no longer just rely on the file system and use the tarballs from GitHub releases.

What you'll need to do if you want to properly d

[2021-04-07 06:20] blshkv commented on #78
There is a new 'go-modules' Gentoo eclass, but the list of dependencies is much longer.
Some modules need to have multiple versions for no real reason. This is crazy.

Ok, nevermind. I'll just symlink whatever I need ;-)

[2021-04-07 06:20] #78 closed

[2021-04-07 06:45] blshkv commented on #78
FYI, found a gentoo tool to generate the full list:
https://github.com/williamh/get-ego-vendor
The problem solve ;-)

[2021-04-07 06:57] Ullaakut commented on #78
If you are curious about why go modules have multiple versions, I recommend taking a look at https://blog.golang.org/using-go-modules :)

[2021-04-23 08:03] noneymous commented on #62
I once had the issue that scan results behaved weird too. I got different results when i ran Nmap directly. I figured out, that I had a double space in the scan args. The double space didn't cause issues with Nmap directly on the command line, but it caused problems when used through this library (huh?). Maybe because of what Golang is doing with exec.Command(), Nmap for some reason understood the

[2021-04-24 01:11] jiaocoll opened #79 "Get port details"
How can i get the details like this of open port
![image](https://user-images.githubusercontent.com/62785738/115942482-17441e80-a4dd-11eb-83c5-74622328b54b.png)

[2021-04-28 07:41] DeadNumbers commented on #62
At the moment I am not interested in working with nmap due to its low speed, but I checked it again and now my code above works as it should. Just in case, I attach the scan result in a file.
[out.txt](https://github.com/Ullaakut/nmap/files/6389966/out.txt)

[2021-04-28 09:12] noneymous commented on #79
This is script output.

1) You'll need to make sure the "fingerprint-strings" script is executed, via the scan arguments
2) Depending on the script type, it will be output assigned to a certain port or the host.

[code]

[code]

[2021-04-28 09:22] jiaocoll commented on #79
Thank you very much:)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Ullaakut/nmap"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月28日(星期三) 下午5:12
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&n

[2021-04-28 13:20] Ullaakut commented on #79
Hi @jiaocoll and @noneymous !

Thanks for your help @noneymous :) Can we mark the issue as solved?

[2021-04-28 13:50] jiaocoll commented on #79
Okay!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Brendan Le ***@***.***&gt;;
发送时间: 2021年4月28日(星期三) 晚上9:20
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Ullaakut/nmap] Get port details (#79)

***@***.******@***.***!

***@***.***：）我们可以将问题标记为已解决吗？

—
你收到这个是因为你被提到了。
直接回复此邮件，在GitHub上查看，或取消订阅.

[2021-04-28 13:53] #79 closed

[2021-05-17 08:43] DeadNumbers commented on #62
I think error in marshal xml output
[code]

Output
[code]

[2021-05-17 09:16] Ullaakut commented on #62
🤔 Which version of `nmap` do you have now? You had `7.91` last time.

[2021-05-17 15:36] DeadNumbers commented on #62
Lol, I'm so stupid.

[code]

[2021-05-18 04:56] #62 closed

[2021-05-23 19:33] mikemadden42 opened #80 "Issues with count_hosts_by_os example"
I'm seeing a few issues with the `count_hosts_by_os` example in this repository.

I get this error when I run the program without `sudo`.  Does this example require to be ran with sudo or root?

[code]

When I run the example, the number of Linux hosts is more than the number of hosts seen on the network.

[code]

[2021-05-24 06:04] Ullaakut commented on #80
Hi @mikemadden42 ! Thanks for opening this issue :) It indeed requires root privileges, since in order to detect operating systems, `nmap` needs to do [`TCP/IP` fingerprinting](https://nmap.org/book/osdetect.html).

As for the inaccurate counts, I think I know what is happening, but just to be sure, could you please run the following on your machine?

`sudo nmap -F -O 192.168.0.0/24`

I think what

[2021-05-30 13:57] mikemadden42 commented on #80
Hi @Ullaakut , is there a subset of information I could provide?  The full output of the `nmap` command you listed above could expose a lot of internal information.

[2021-05-31 04:53] Ullaakut commented on #80
Hi @mikemadden42,

Sure, you could just manually check whether or not it shows multiple OSes per host, and let us know here :)

[2021-06-08 17:04] sm97 opened #81 "nmap command line options duplication after several repeated invocations"
I use nmap library to continuosly scan network so I call Run() method repeatedly for single nmap.Scanner structure.
After several invocations Run() starts returning "nmap scan timed out" error.

Using strace utility I found following command line for nmap:
execve("/usr/bin/nmap", ["/usr/bin/nmap", "192.168.xx.xxx/29", "xxx.xxx.xxx.xx", "-p", "443", "-T4", "--script=xxxxxxxxxxx", "-oX", "-", "-oX",

[2021-06-09 08:01] Ullaakut commented on #81
Hi @sm97, indeed you are right, as it is the scanner can't be reused multiple times. This needs to be fixed

[2021-06-09 18:51] sm97 commented on #81
@Ullaakut please review my PR

[2021-06-09 19:33] sm97 commented on #81
I found a bug in my code. I used nmap.NewScanner() with nmap.WithContext(ctx) option outside of my scanning loop.
So nmap started to timeout right after context timeout have exceed.
Moving  context creation and nmap.NewScanner() into loop has fixed an issue.
So my PR is rather cosmetic - it just removes nmap options duplication :)

[2021-06-10 06:23] #81 closed

[2021-06-10 07:04] katey909 opened #83 "Service Version details not showing up"
nmap.WithServiceInfo(), not returning service version details.

[2021-06-10 07:08] katey909 commented on #83
### nmap.WithServiceInfo(),### nmap.WithScripts("vulners.nse")
output missing

[2021-06-10 07:19] Ullaakut commented on #83
Hi @katey909, could you please show an example of your code and how you attempt to read the service info from the returned results?

[2021-06-10 07:46] katey909 commented on #83
package main

import (
	"context"
	"fmt"
	"log"
	"time"

	"github.com/Ullaakut/nmap/v2"
)

func main() {
	ctx, cancel := context.WithTimeout(context.Background(), 10*time.Minute)
	defer cancel()

	// with a 5 minute timeout.
	//nmap -sV -v -F -Pn --script vulners.nse
	//nmap -sU -v -F -Pn
	scanner, err := nmap.NewScanner(
		nmap.WithTargets("8.8.8.8"),
		//nmap.WithTargetInput("target_list.txt"),

[2021-06-10 08:16] Ullaakut commented on #83
And what is the output that you get when running this? The only port you should see with version info is the `443` port and since you're scanning `8.8.8.8` which is one of Google's public DNSes, it's just an HTTP server that doesn't expose its version information.

I'd recommend trying this out on another IP than a Google DNS, since obviously they're exposing as little information as possible on t

[2021-06-10 08:48] katey909 commented on #83
I had issue with output command. port.Service.Version does not display all the info. And worked for other IP's too.
Thank You.

[2021-06-10 08:48] #83 closed

[2021-07-13 14:00] mxrch opened #84 "Misunderstanding between Configuration and Confidence"
I think you interpreted the "conf" nmap parameter as "Configuration" while it means "Confidence".
The attribute : https://pkg.go.dev/github.com/Ullaakut/nmap/v2#Service.Configuration
Nmap documentation : https://nmap.org/book/output-formats-xml-output.html#output-formats-xml-port-elements

I'll provide a PR !

[2021-07-13 14:05] mxrch commented on #84
Here is the PR ! https://github.com/Ullaakut/nmap/pull/85

[2021-07-13 14:06] Ullaakut commented on #84
Hi @mxrch ! Thank you very much :) That indeed seems to be the case. Great catch!

[2021-07-13 14:13] #84 closed

[2021-07-13 18:18] cyrinux opened #86 "Function that return options as string"
Hi,
Thanks for this lib!
Could you please add a func that return all the nmap options/params passed to the scanner?
Regards,

[2021-07-14 05:42] Ullaakut commented on #86
Hi @cyrinux! I don't have much time to work on this project at the moment, but this should be really simple to do, so if you're up for it feel free to contribute :) Otherwise, I've added some labels to encourage external contributors to take a look at the feature you're asking for.

[2021-07-14 08:48] #86 closed

[2021-08-03 13:57] vikasorchestral opened #88 "In what cases scanner.Run() return error so handle it."

[2021-08-04 05:19] Ullaakut commented on #88
Hi @vikasorchestral, can you elaborate please? Thanks.

[2021-08-15 10:54] echox opened #89 "Crash after long running scan ( /24 and /26 with -p-)"
I get reproducible crashes after scanning a large number of hosts, for example a /24 network.
I'm using `-sSV -p-` so the scan will take a while.
After ~ 1 hour the application simply exits with the following errors:
[code]
main.go:139 does contain the progress function.

The code (the progress if statement is not the most elegant but shouldn't be the cause of the error I guess :)):
[code]
I'm not

[2021-08-15 17:09] echox commented on #89
I recognized I can't reproduce the error if I remove the progress function, so it maybe related to the progress channel.

[2021-08-16 07:24] Ullaakut commented on #89
Hi @echox thanks for opening this issue! :)

This sounds like a fun one to reproduce! 😄 The stack trace indeed does not really indicate the source of the error here, but simply says that the two goroutines were waiting while reading on channels when it crashed, AFAIK.

Was this really the only output when it crashed? The exit status 2 most likely comes from `nmap` itself erroring, but that should

[2021-08-17 11:24] elivlo commented on #89
Hi,

since I coded that method back in December 2020 I feel responsible for this issue. ;)
Because I do not want to scan a public /24 network, I will try to reproduce this error by creating a script like we do it for testing. So I'm going to run a bash script as [nmap-mockup](https://github.com/Ullaakut/nmap/blob/master/tests/scripts/fake_nmap_delay.sh) that exits with status code 2.

@echox As a

[2021-08-17 15:23] elivlo commented on #89
So I took your code @echox and opened the debugger in my IntelliJ IDE.
This is a snapshot from all running go routines:
![grafik](https://user-images.githubusercontent.com/28390981/129743383-c592ae1d-c93d-47a7-9585-361000f5f85a.png)

As far as I can tell the error you'll get is coming from the function `cmd.Start()` in nmap.go line 188. I compared it with your error log and the first two blocks se

[2021-08-17 18:09] echox commented on #89
Thanks for the help so far, no need to hurry and it might a somewhat slow progress anyway :)

@elivlo I've run into this on the following two versions:
- go1.11.6 linux/amd64
- go1.16.4 darwin/amd64

I've striped down my example code and started a scan against the ```/24``` and ```/26``` (I'm allowed to scan ;-)).
This should reproduce the error after a while.
If this works I will add ```RunWithSt

[2021-08-18 20:30] #59 closed

[2021-09-30 16:56] dac42 opened #92 "Support for XML output (-oX)"
Nice project!  One nice-to-have would be support of the -oX parameter.  I see the option to output in greppable format (-oG) but not XML.

[2021-10-01 04:20] Ullaakut commented on #92
Hi @dac42 ! That is because this project already uses `-oX` at all times in order to be able to parse the output of the nmap scan. Currently it always redirects the output of the XML to `stdout` and reads it directly.

What is the use case you have exactly? I assume then that you want to be able to control where the XML output goes so that you can write it on the filesystem or redirect it as you w

[2021-10-01 12:48] dac42 commented on #92
Hi @Ullaakut, thank you for the very prompt reply!  The use case is that I have another tool that is capable of ingesting nmap XML to perform more in depth scanning against services found on the targets.  So, if an nmap XML file could be generated, I could sort of chain the tools together.

I'm not picky about implementation details. I just appreciate the responsiveness! :)

[2021-10-04 08:50] Ullaakut commented on #92
Alright, well I can't work on it right now unfortunately, but hopefully a contributor could take a look. I'm not sure when I'll be able to work on it, but in case anyone is interested, I expect it to be around 10-20 mns of work to implement this, here are the steps:

* Add a new attribute to the nmap scanner structure, called `writer`, which is an `io.Writer`.
* By default, this attribute should b

[2021-10-23 19:54] DGKSK8LIFE opened #93 "How do I integrate nmap-vulners with this library?"
Hello. I'm working on a task that requires me to use `nmap-vulners` for vulnerability discovery.

Currently, I have a bash script written to do so that I would invoke from Go via `exec.Command`
[code]
The issue is that I currently would have to parse XML output with a schema that changes often, so I would prefer an idiomatic way of doing so.

So, how can I use your library in tandem with `nmap-vul

[2021-10-25 07:08] #93 closed, assigned to Ullaakut

[2022-02-27 10:46] Noman-Aziz opened #94 "NIC Vendor not being shown"
Hello, i am trying to find out IP, MAC and NIC Vendor of devices, but the scan only shows IP and MAC. Here is my code,

[code]

How can i also show the Vendor?

[2022-02-28 08:15] Ullaakut commented on #94
Hi @Noman-Aziz .

To see vendor information (when available), you need to use the `-sV` flag, which is done by passing the option `nmap.WithServiceInfo()` during construction.

[2022-03-01 07:25] Noman-Aziz commented on #94
Thank you, it works now.

[2022-03-01 07:25] #94 closed

[2022-03-15 22:26] dac42 commented on #92
Hi @Ullaakut, I've been taking a crack at this but seem to have reached the limit of my abilities.  The following works for Run and RunWithProgress but I'm not sure how to approach the 2 asynchronous run modes to achieve something similar.

// WithWriter overrides scanner.writer with the writer passed in
func WithWriter(writer io.Writer) Option {
	return func(s *Scanner) {
		s.writer = writer
	}
}

[2022-03-16 20:56] Ullaakut commented on #92
Hi @dac42, thanks for your attempt :) I'll take a look at this tomorrow when I have some time! I forgot that the async mode had a different way of dealing with the writer, but that seems more tricky than I initially planned indeed 🤔

[2022-05-09 02:34] ChnMig opened #95 "Using `regexp.Match` or related in a loop, should use `regexp.Compile`"
Hi developers, I'm using vscode for development, and after I clone the source code, I found a prompt telling me that I can optimize at https://github.com/Ullaakut/nmap/blob/master/iflist.go#L71,
which is made possible by the vscode built-in plugin https://github.com/dominikh/go-tools,
whose optimization ID is SA6000, https://staticcheck.io/docs/checks/#SA6000
I have modified the code locally, the

[2022-05-09 08:28] elivlo commented on #95
Hi @ChnMig,
indeed you have found a good optimization for the code that should be replaced.

I ran the tool `staticcheck` and found out that there are five more lines of code to optimize:
[code]

To answer your question, I'm not quite sure, if it is needed to call a initialization function to do  a `precompilation` of the regex. That's because the `iflist` command in nmap is used to find local int

[2022-05-09 08:47] ChnMig commented on #95
@elivlo Thanks for your reply, the tool you wrote is very interesting, I'm trying to write a new project that calls masscan the way you did, that's what I need.
I agree with you, so I will close issues, because you already know the problem

[2022-05-09 08:50] #95 closed

[2022-07-18 13:00] hktalent opened #97 "not support --unique --script-timeout 3m"
not support --unique --script-timeout 3m

[2022-07-18 13:23] hktalent opened #98 "bug: WithTargets, if targets is 10000 to shell cmd args, too long"
[code]

[2022-07-22 17:05] Ullaakut commented on #97
Hi @hktalent,

It seems that those flags are missing indeed. I will open a PR to add them to the tool, thank you.

[2022-07-22 17:17] Ullaakut commented on #98
Hi @hktalent !

Thanks for reporting that issue. In that case, use `WithTargetInput` instead. Having 10000 targets specified using the `nmap` command in a shell would result in the exact same behavior.

[2022-07-22 17:17] #98 closed

[2022-07-23 01:07] hktalent commented on #97
@Ullaakut thanks

[2022-07-25 09:39] Ullaakut commented on #97
This issue will be automatically closed when #99 gets merged 👍

[2022-08-23 12:09] CaledoniaProject opened #100 "No -PN support"
I'm trying to find a `WithXXX` method that would add a `-PN` argument, but there's none. I had to use WithCustomArguments instead.

Can you add a method?

[2022-08-23 12:10] CaledoniaProject commented on #100
Found it WithSkipHostDiscovery

[2022-08-23 12:10] #100 closed

[2022-08-23 12:14] #97 closed

[2022-08-30 21:59] stephanebruckert opened #101 "RunWithProgress goes from 100% to 0% and back again"
When the IP range is < `/26` the progress is not accurate as it goes to 100% and then back to 0% multiple times:

[code]

[code]

[2022-08-30 22:17] elivlo commented on #101
Hi @stephanebruckert :)

I know this problem, but haven't found a solution for it.
The progress is directly captured by the `stdout` from nmap.
nmap splits the scans into multiple steps or parts and calculates the progress for every step. And we do not know the quantity of steps either. :/

[2022-09-06 15:13] stephanebruckert commented on #101
nmap alone seems to manage the progress correctly, apart from some very slight decreases https://security.stackexchange.com/questions/141548/nmap-tcp-scan-decreases-the-progress-percentage

There must be a way, I will have a deeper look when I get some time

[2022-09-06 15:15] stephanebruckert opened #102 "Still timing out after 5 minutes"
It's likely I'm missing something obvious but when I run nmap on a large port range (ANY/ANY), I get this after 5 minutes:

Although I've set all Timeouts possible:

	scanner, err := nmap.NewScanner(
		nmap.WithTargets(hostname.AllowedIPRanges...),
		nmap.WithScripts("ssl-cert"),
		nmap.WithContext(ctx),
		nmap.WithVerbosity(3),
		nmap.WithScriptTimeout(60*time.Minute),
		nmap.WithHostTimeout(60*t

[2022-09-14 08:16] zekiahmetbayar commented on #102
Hi @stephanebruckert!,

I think it happens because of the ctx background parameter.

Can you try removing the parameter or replacing it with the following?

[code]

[2022-09-14 13:23] stephanebruckert commented on #102
That was it... 😄 thank you!

[2022-09-14 13:23] #102 closed

[2022-10-05 03:52] hktalent opened #104 "RunAsync lost s.cmd.Wait() ?"
[code]

[2022-10-05 07:35] elivlo commented on #104
Hi @hktalent :)

Could you explain further, what your question is about?